@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #d00d14,
    ),
  ),
  $menu: (
    'bg-color': #ffffff,
  ),
  $pagination: (
    'button-bg-color': #ffffff,
  )
);

@use './dark.scss';
