@import "./base.css";

#app {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--color-text-light);
  transition: 0.4s;
}

a:hover {
  color: var(--el-color-primary-light-7);
}
